.wall-segment {
  height: 25%;

  color: white;
}

.blue {
  background-color: rgb(66, 133, 244) //blue
}

.green {
  background-color: rgb(15, 157, 88) //green
}

.yellow {
  background-color: rgb(244, 180, 0) //yellow
}

.red {
  background-color: rgb(219, 68, 55); //red
}


